/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font: 11px system-ui;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







button {
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}


#hobbies button:nth-child(even){
    background-color: #adaddb;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


body{
    text-align: center;
    background-color: #e7ffe7;
    position: relative;

}

li{
    list-style-type: none;
}

.otherclass{
    color: red;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

#friendSelect{
    width: 100%;
    text-align: center;
}

#sel{
    margin: 0 auto;
}

.hidden,
.visible{
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}


.fadeOut{
    opacity: 0;
}

.contestant-box{
    padding: 10px;
    margin: 10px;
    background: #adfff0;
    width: 100px;
    display: inline-block;
    width: 200px;
    /*height: 200px;*/
}

#startOver{
    position: fixed;
    bottom: 20px;
    left: 20px;
}


.bigQuestion{
    color: #8d8d8d;
    font-size: 20px;
}

.playerName{
    color: black;
}


.randomContestant{
    padding: 10px;
    margin: 5px;
    background: #c1e2c5;
    width: 60px;
    display: inline-block;
}

.contestantPool{
    background: pink;
    display: block;
}


select#sel, select#sel {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}


button.modalCrushes{
  width: 100%;
  padding: 5px 5px 10px 5px;
  margin: 8px auto 0px;
}


select#sel {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#d4e4a3, #bfa1b7 40%, #822691);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
}

#crushModal{
    margin: 0 auto;
    text-align: left;
    background-color: #f1ff81;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 500px;
    padding: 20px 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    text-align: center;

}

.randomContestant img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.modalUsr{
    border: 3px solid pink;
    width: 200px;
}



#currentCrushes{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.contestant-box button{
  padding: 8px;
}

#crushModal p{
    width: 80%;
    margin: 0 auto 20px;
}

.close{
      position: absolute;
    top: 0;
    right: 0;
}


.alreadyCrushing{
width: 200px;
margin: 0 auto;
text-align: center;
padding: 20px;
}

#startGameButton, #currentCrushes, .pink, .alreadyCrushing{
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;

}

.alreadyCrushing{

}

.profileDescription{
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  color: #5f5f7d;
}


h1,h2,h3{
      color: #5f5f7d;
}
#crushModal .randomContestant{
    width: 160px;

}

#yourSelections{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    color: #3f8186;
    font-style: italic;
}


@-webkit-keyframes greenPulse {
  from { background-color: pink; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: violet; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: pink; -webkit-box-shadow: 0 0 9px #333; }
}
